apiVersion: apps/v1
kind: Deployment
metadata:
  name: todox-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todox-api
  template:
    metadata:
      labels:
        app: todox-api
    spec:
  containers:
    - name: postgres
      image: postgres:16
      resources:
        requests:
          cpu: "250m"
          memory: "512Mi"
        limits:
          cpu: "500m"
          memory: "1Gi"
      ports:
        - containerPort: 5432
      envFrom:
        - secretRef:
            name: postgres-secret
      volumeMounts:
        - name: data
          mountPath: /var/lib/postgresql/data
