
.sidebar {
  position: relative;
  width: 280px;
  height: 100vh;

  display: flex;
  flex-direction: column;

  /* СВЕТЛЕЕ ОСНОВНОГО ФОНА */
  background: #252526;        
  border-right: 1px solid #2f2f2f;
  min-width: 220px;
  overflow: auto;
}
.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  cursor: col-resize;
  transform: translateX(50%);
  z-index: 10;
}

.resizer:hover {
  background: rgba(0, 0, 0, 0.08);
}

/* ===== HEADER ===== */

.header {
  padding: 12px 12px 10px;
  border-bottom: 1px solid #2f2f2f;
  text-align: center;
}

.titlesAndIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #aea3a3;
}
.iconsOptions{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  color: #aea3a3;
}
.iconsOptions i:hover{
  color: #ffffff;
}

/* ===== NAV ===== */

.nav {
  flex: 1;
  overflow-y: auto;
  padding: 6px;
}

/* ===== STATES ===== */

.state {
  padding: 8px 10px;
  font-size: 13px;
  color: #a0a0a0;
}

/* ===== LIST ===== */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin: 0;
}

/* ===== ROW ===== */

.link {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 6px 10px;
  border-radius: 4px;

  text-decoration: none;
  color: #e0e0e0;

  background: transparent;
  transition: background-color 120ms ease;
}

/* hover */
.link:hover {
  background: #313131;
}

/* active */
.active {
  background: #3a3d41;
}

.plansIconsContainer {
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
}
.IconsInPlansContainer {
  display: flex;
  align-items: center;
  gap: 6px;              
}

.IconsInPlansContainer i {
  font-size: 14px;      
  padding: 4px;          
  cursor: pointer;
  color: #aea3a3;
  border-radius: 6px;
  margin-left: 0;        
  line-height: 1;        
}

.IconsInPlansContainer i:hover {
  color: #ffffff;
}

/* text */
.name {
  font-size: 16px;
  line-height: 1.3;
  color: inherit;
  font-family:'Times New Roman', Times, serif;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ===== FOOTER (optional) ===== */

.footer {
  border-top: 1px solid #2f2f2f;
  padding: 8px 10px;
}

.hint {
  font-size: 12px;
  color: #9a9a9a;
}

/* ===== SCROLLBAR ===== */

.nav::-webkit-scrollbar {
  width: 8px;
}

.nav::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

.nav::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f;
}
